
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body
{
  background: whitesmoke;
  justify-content: center;
}

.wrapper
{
  width: 70%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  margin: auto;
  margin-top: 2%;
  align-items: center;
}

.wrapper header
{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons
{
  display: flex;
}

header .icons span
{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child
{
  margin-right: -10px;
}

/*hover over left right arrow*/
header .icons span:hover
{
  background: #f2f2f2;
}

/*controls length of calendar*/
.calendar
{
  padding: 30px;
}

.calendar ul
{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li
{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

/*affects all days*/
.calendar .days li
{
  z-index: 1;
  text-align: center;
  background-color: slategray;
  color: white;
  border: solid;
  border-color: white;
  border-radius: 30px;
  height:30px; 
  max-height:30px;
  vertical-align: middle;
  margin-bottom: 370px;
}

/*affects days from previous month*/
.days li.inactive{
  color: white;
  background-color: #fff;
}

.navtop 
{
    background-color: #3b4656;
    width: 100%;
}

.navtop div 
{
    display: flex;   
}

/*car reservation*/
.navtop div h1 
{
    display: inline-flex;
    align-items: center;   
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin-left: 2%;
    color: white;
    font-weight: normal;
}

/*button*/
.navtop div h2
{
  margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.event
{
  background-color: lightblue;
  border-top: solid;
  border-radius: 30px;
  font-size: 0.8vw;
}







